/* button image size */

body {
    text-align: center;
}
.header p {
    color: black;
}
h1  {
    font-size: 100px;
    padding: 3px;
    color: black;
    background-color: white;
    display:inline-block;
}

p {
    font-size: 50px;
    color: white;
} 

.wrap {
    max-width: 980px;
    margin: auto;

}
.btnwrap {
    position: relative;
    width: 20%;
    padding: 20% 0 0;
    overflow: hidden;
    margin: 10px;

}
.btnwrap img {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%)
  translateY(-50%);  
}

/* give random number dimensions to be displayed in */
#numRand {
    text-align: center;
    display: inline-block;
    padding: 20px;
    width: auto;
    height: auto;
    background-color: black;
    color: white;
    font-size: 100px;
    position: relative;
    top: 15px;

}
/* give score display dimensions */
.score {
    display: inline-block;
    background-color: black;
    color: white;
    font-size: 75px;
    position: relative;
    top: 50px;
}
.main {
    position: relative;
    top: 140px;
}
.gamesPlayed {
    position: relative;
    top: 75px;
}

#gamesWon {
    padding: 0px 25px;
}

#gamesLost {
    padding: 0px 25px;
}

.numGamesPlayed {
    position: relative;
    top: 93px;
}

#numGamesWon {
    padding: 0px 143px;
}

#numGamesLost {
    padding: 0px 124px;
}

